@import "tailwindcss";

@theme {
  --color-color1: #f6f930;
  --color-color2: #2f2f2f;
  --color-color3: #d2f898;
  --color-color4: #fcfcfc;
}

.slider {
  @apply w-40 appearance-none bg-transparent;
}

.slider::-webkit-slider-runnable-track {
  @apply rounded-full h-2 bg-color2;
}

.slider::-webkit-slider-thumb {
  @apply appearance-none w-3.5 aspect-square rounded-full -mt-1 bg-color2;
}
